@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #214d6340;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #214d63;
  border-radius: 20px;
}

.gm-style iframe + div {
  border: none !important;
}
